@import "../../../../assets/styles/shared/variables";

.privacy {
  padding: 20px 0 80px;
  .container {
    max-width: 800px;
  }
  &-header {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 40px;

    &-link {
      font-size: 16px;
      color: $pagination-active-color;
    }

    span {
      font-size: 12px;
      color: $pagination-active-color;
      font-weight: 600;
    }

    &-title {
      font-size: 16px;
      color: $main-title-color;
      font-weight: 500;
    }
  }
  &-content {
    p {
      margin-bottom: 25px;
    }
    h2 {
      margin-bottom: 10px;
    }
    ul {
      li {
        margin-bottom: 10px;
      }
    }
  }
}
