// Стили, для того, чтобы footer-component прижать к низу, а основной контент сделать по центру
main {
  display: flex;
  flex-direction: column;
  height: 100%;
  //
  //header-component {
  //  position: fixed;
  //  background-color: white;
  //  top: 0;
  //  z-index: 1000;
  //  width: 100%;
  //}

  .content {
    //margin-top: 127px;
    flex: 1 0 auto;
  }

  footer-component {
    flex: 0 0 auto;
  }
}
