$main-title-color: #709FDC;
$second-title-color: #FFFFFF;
$main-text-color: #071739;
$main-link-active-color: #709FDC;
$main-filter-color: #BEBEBE;
$hover-filter-color: #071739;
$pagination-active-color: #B9D5FD;
$placeholder-color: #A8ABA7;

$main-bg-color: #FFFFFF;
$second-bg-color: #B9D5FD;
$main-btn-color: #709FDC;
$hover-btn-color: #548AD0;
