<section class="login">
  <div class="container">
    <section class="auth-form">
      <h1 class="auth-form-title">Войти в личный кабинет</h1>
      <div class="auth-form-inputs">
        <div class="auth-form-input">
          <input type="text" class="input" placeholder="Электронная почта">
        </div>

        <div class="auth-form-input">
          <input type="password" class="input" placeholder="Пароль">
        </div>
      </div>
      <div class="auth-form-checkbox">
        <input type="checkbox" class="checkbox" id="remember">
        <label for="remember">Запомнить меня</label>
      </div>
      <div class="auth-form-actions">
        <button class="button auth-form-button">Войти</button>
      </div>
      <div class="auth-form-link">
        Нет аккаунта? <a routerLink="/signup">Пройдите регистрацию</a>
      </div>
    </section>
    <figure class="auth-picture">
      <img src="assets/images/auth/login.png" alt="Login image">
    </figure>
  </div>
</section>
