@import "../../../../assets/styles/shared/auth-form";

.signup {
  padding: 123px 0 120px 0;
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .auth {
      &-form {
        margin-right: 185px;
      }
      &-picture {
        margin-right: 26px;
      }
    }
  }
}
